extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5 
                img(src="img/nosotros.jpg" alt="Imagen Nosotros" class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc volutpat elementum massa, ut vehicula metus. Maecenas sodales risus ac turpis efficitur, varius mattis tellus tempor. Morbi elementum venenatis sapien, sed dapibus erat ultricies nec. Integer eget velit non turpis efficitur eleifend. Fusce vitae finibus est, quis suscipit augue.

                p Aliquam eu erat vehicula, congue massa eu, tincidunt magna. Ut sagittis nisi id commodo hendrerit. Nunc at tempor massa. Donec nec sem molestie, tristique odio at, lacinia enim. Donec pharetra fermentum justo a ornare. Integer ante sapien, consequat mattis finibus laoreet, hendrerit eu turpis.

                p Nullam fringilla malesuada neque, nec blandit odio aliquam vitae. Nullam mollis tortor quis ex condimentum, sit amet fermentum est euismod. Etiam sed augue at ipsum ullamcorper posuere. Nullam facilisis sed enim a bibendum. Phasellus nec dolor eget metus pretium congue. 

    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="Icono Seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos error totam quod?

                .col-md-4 
                    img(src="img/icono_destinos.svg", alt="Icono Seguridad", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, nihil aut?

                .col-md-4 
                    img(src="img/icono_precio.svg", alt="Icono Seguridad", class="img-fluid mb-4")
                    h2.mb-4 Mejores Precios
                    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore ipsum nemo sint iste.